# LaTeX build directory
Paper_Compilation/*
!Paper_Compilation/.gitkeep

# LaTeX auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.lot
*.out
*.run.xml
*.synctex.gz
*.synctex(busy)
*.toc
*.xdv



# Editor recovery files
*.bak
*.sav
*.tmp
*~
